body{
  background-color: blue;
}

·
#cabecera {
  width: auto;
  height: 100px;
  background-color: grey,
}

#contenedor{
  background-color: greeb;
  width: 900px;
  height: 700px;
  margin: 0 auto;
}

p{
  font-family: 

}

.boletes{
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;

}
